<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
        {% load static %}
        <script src="{% static '/tab.js' %}" type="text/javascript"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand nav-link active" href="../pphomepage/">Purdue / Percentage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="#">Discussions</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../browse/">Browse</a>
                </li>
                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li> -->
                <li class="nav-item">
                <a class="nav-link">Dashboard</a>
                </li>
            </ul>
            <div>
                <button class="btn btn-primary" onclick="location.href='../score/'">Submit Data</button>	 
                <button class="btn btn-outline-primary" type="submit">Login</button>	 
                <!-- <button class="btn btn-outline-primary" type="submit">Signup</button> -->
            </div>
            </div>
        </div>
    </nav>
    <body>
        <div class="row"> 
            <div id="average_slicer_card" class="col-md-4 container">
                &nbsp;
                <div class="row container" style="padding-right: 0px">
                    <a style="font-size:28">{{course_title}}</a>
                    <div class="card" >
                        <div class="card-body" >
                            <h5 class="card-title">Exam Average</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{exam_avg}}%</h6>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="row container" style="padding-right: 0px"> 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filters</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2">Search</h6>
                            <div class="row"> 
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Go</button>
                                </form>
                            </div>
                            <h6 class="card-subtitle mb-2">Year Picker</h6>
                            <div class="row"> 
                                <div class="container">
                                    <select class="form-select" id="inputGroupSelectYear">
                                        <option selected>Choose...</option>
                                        <option value="1">2022</option>
                                        <option value="2">2021</option>
                                        <option value="3">2020</option>
                                        <option value="4">2019</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="graph_card" class="col-md-8 container">
                &nbsp;
                <div class="row container" style="padding-right: 0px; padding-left: 0px" >
                    <div class="card col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Plots</h5>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="histogram-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="histogram" aria-selected="true">Histogram</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="scatter-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="scatter" aria-selected="false">Scatter</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pie-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="pie" aria-selected="false">Pie</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="box-and-whisker-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="box-and-whisker" aria-selected="false">Box and Whisker</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="histogram" role="tabpanel" aria-labelledby="home-tab">
                                    {{div | safe}}
                                </div>
                                <div class="tab-pane fade" id="scatter" role="tabpanel" aria-labelledby="profile-tab">

                                </div>
                                <div class="tab-pane fade" id="pie" role="tabpanel" aria-labelledby="contact-tab">
                                    
                                </div>
                                <div class="tab-pane fade" id="box-and-whisker" role="tabpanel" aria-labelledby="contact-tab">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
    {{script | safe}}
</html>